BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
BreakBeforeBraces: Attach

# Access specifiers: public/private/protected
AccessModifierOffset: -4
IndentAccessModifiers: false

# Short functions / control statements
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

# Spacing
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false

# Initializer lists
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon

# Includes
SortIncludes: false
IncludeBlocks: Preserve

# Pointer / reference style
DerivePointerAlignment: false
PointerAlignment: Left

# Templates (CP-friendly)
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakTemplateDeclaration: 10
